#!/usr/bin/env bash
# Export private age key for use in tofu encrypted state.
# Loads it one time and then uses it for the duration of the shell session.

export MASTER_KEY_FILE=~/.config/sops/age/keys.txt

#shellcheck disable=SC2148,SC2155
export TF_VAR_state_passphrase=${TF_VAR_state_passphrase:-$(grep 'AGE-SECRET-KEY-' ${MASTER_KEY_FILE} 2>/dev/null | sed 's/AGE-SECRET-KEY-//g' | awk '{print $NF}' || echo "")}
